<h3>Add Tweet</h3>
<!-- <form class="" action="index.html" type='submit'>
  {{input type='text' value=newTweetProfile size='50'}}
  {{input type='text'}}
  <button type='submit' {{action 'addTweet'}}>Add tweet</button>
</form> -->
